.wrapper {
    margin: auto;
    max-width: 900px;
    overflow: hidden;
}

.cardCarracel {
    border: 2px solid black;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translateX(2em);
}

.cardImage {
    padding: 25px;
    border: 1px solid black;
    height: 450px;
    min-width: 850px;

    /* width: 500px; */

}